body{
    margin: 0px;
    padding: 0px;
    background-color: #011627;
    color: #c83f16;
    text-align: center;
    background-image: url(E5vJeUwXoAQsCPs.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(176, 12, 12);
    color: black;
    border-style: none;

}

.btn:hover{
    background-color:rgb(73, 193, 107);
    cursor: pointer;
}



